.button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    margin: 0;
    min-width: 150px;
    outline: none;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
    + {
        .button {
            margin: 0.5rem;
        }
    }
    &:first-child {
        margin: 0.5rem;
    }
    &:disabled {
        color: #c9c7c5;
    }
}
.button_wrap {
    white-space: normal;
}
.button[disabled] {
    color: #c9c7c5;
}
.button_neutral {
    background-color: #ffffff;
    &:hover {
        background-color: #00b262;
        color: #ffffff;
    }
    &:disabled {
        color: #c9c7c5;
    }
}
.button_neutral[disabled] {
    color: #c9c7c5;
}
.button_dark {
    background-color: #1a1a1a;
    &:hover {
        color: #00b262;
    }
    &:disabled {
        color: #c9c7c5;
    }
}
.button_dark[disabled] {
    color: #c9c7c5;
}
.button_brand {
    background-color: #00b262;
    color: white;
    &:hover {
        background-color: #009954;
    }
    &:disabled {
        background-color: #c9c7c5;
        color: white;
    }
}
.button_brand[disabled] {
    background-color: #c9c7c5;
    color: white;
}
.button_brand-inverse {
    background-color: #ffffff;
    color: #00b262;
    &:hover {
        background-color: #f0f0f0;
    }
    &:disabled {
        background-color: #c9c7c5;
        color: white;
    }
}
.button_brand-inverse[disabled] {
    background-color: #c9c7c5;
    color: white;
}
.button_warning {
    background-color: #f80;
    color: white;
    &:hover {
        background-color: #f80;
    }
    &:disabled {
        background-color: #c9c7c5;
        color: white;
    }
}
.button_warning[disabled] {
    background-color: #c9c7c5;
    color: white;
}
.button_danger {
    background-color: #ef0000;
    color: white;
    &:hover {
        background-color: #ef0000;
    }
    &:disabled {
        background-color: #c9c7c5;
        color: white;
    }
}
.button_danger[disabled] {
    background-color: #c9c7c5;
    color: white;
}
.button_success {
    color: white;
    &:disabled {
        background-color: #c9c7c5;
        color: white;
    }
}
.button_success[disabled] {
    background-color: #c9c7c5;
    color: white;
}
.button-icon_label {
    color: #ffffff;
    font-size: 0.8125rem;
    padding-top: 0.5rem;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}
