.move-up {
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        padding-bottom: 15px;
        transform: translateY(-15PX);
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
